header {
    height: 60px;
    text-align: center;
    background-color: darkcyan;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 2px 2px black;
    line-height: 60px;
}

#canvasStage {
    margin-top: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

#container-record {
    text-align: center;
    font-size: 30pt;
    font-weight: bolder;
}